<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Store</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container">
        <div class="card" style="max-width: 800px; margin: 0 auto;">
            <div class="card-body">
                <h2 class="card-title text-center">Book List</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th th:text="#{item.id}">도서 ID</th>
                            <th th:text="#{item.title}">도서 제목</th>
                            <th th:text="#{item.author}">저자</th>
                            <th th:text="#{item.publisher}">출판사</th>
                            <th th:text="#{item.publish_year}">출판년도</th>
                            <th th:text="#{item.price}">가격</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="item, loop : ${paging}">
                            <td><a th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">도서 ID</a></td>
                            <td><a th:href="@{|/items/${item.id}|}" th:text="${item.title}">도서 제목</a></td>
                            <td th:text="${item.author}">저자</td>
                            <td th:text="${item.publisher}">출판사</td>
                            <td th:text="${item.publish_year}">출판년도</td>
                            <td th:text="${item.price}">가격</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center py-3">
            <a th:href="@{/items?page=0}" class="text-secondary" style="text-decoration: none;">> 더보기</a>
        </div>

    </div>
</body>
</html>